[submodule "finalProjectGloAcademyJavascript"]
   path = finalProjectGloAcademyJavascript
   url = https://github.com/ekschedl/repository.git

[submodule "yandex_test"]
   path = yandex_test
   url = https://github.com/ekschedl/yandex_test.git
   
[submodule "my-3dglo-js-project"]
   path = my-3dglo-js-project
   url = https://github.com/ekschedl/my-3dglo-js-project.git